@model ALTechTest.ViewModels.Artist.ArtistViewModel

@{
    ViewData["Title"] = "Artist Details";

    var fontSize = (int)Math.Max(20, Math.Ceiling(Model.Average / 3));
}

<div class="row">
    <div class="col-12">
        <h2>@Model.Artist.Name <small>(@Model.Artist.Type)</small></h2>
        <p>
            This artist has @Model.Works.Count songs, containing a total of @Model.Total.ToString("N0") words. This gives an average of:
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="jumbotron">
            <h1 class="text-center" style="font-size: @(fontSize)pt">
                @Model.Average.ToString("N0") words per song
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <p><strong>Total:</strong><br/> @Model.Total.ToString("N0")</p>
    </div>
    <div class="col-2">
        <p><strong>Average:</strong><br /> @Model.Average.ToString("N2")</p>
    </div>
    <div class="col-2">
        <p><strong>Min:</strong><br /> @Model.Min.ToString("N0")</p>
    </div>
    <div class="col-2">
        <p><strong>Max:</strong><br /> @Model.Max.ToString("N0")</p>
    </div>
    <div class="col-2">
        <p><strong>Variance:</strong><br /> @Model.Variance.ToString("N2")</p>
    </div>
    <div class="col-2">
        <p><strong>Std. Deviation:</strong><br /> @Model.StandardDeviation.ToString("N2")</p>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <h3>Works</h3>
        @foreach (var workItem in Model.Works)
        {
            var work = workItem.Value;

            <p>
                <strong>@work.Title</strong>: @work.NumberOfWords.ToString("N0") words<br />
                <small>@work.Disambiguation</small>
            </p>
        }
    </div>
</div>
