<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Artist lyrics search tool">
    <meta name="author" content="Drew Morgan">
    <title>@ViewBag.Title</title>

    <link href="@(Url.Content("~/lib/bootstrap/css/bootstrap.min.css"))" rel="stylesheet" type="text/css"/>
    <link href="@(Url.Content("~/lib/font-awesome/css/all.min.css"))" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet" type="text/css"/>
    <link href="@(Url.Content("~/content/site.css"))" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 header text-center">
            <a href="@Url.Action("Index", "Home")">
                <img class="main-logo" src="@Url.Content("~/content/al-music-stats-logo-300-300.png")" alt="AL Music Stats Logo"/>
            </a>
            <span class="main-title"> AL Music Stats</span>
        </div>
    </div>
    @RenderBody()
</div>
<script type="text/javascript" src="@(Url.Content("~/lib/jquery/jquery.min.js"))"></script>
<script type="text/javascript" src="@(Url.Content("~/lib/bootstrap/js/bootstrap.min.js"))"></script>
</body>
</html>